{% extends 'base.html' %}
{% block title %}Search |{% endblock title%}
{% block main %}
<h1>Hello world </h1>
<div class="columns is-multiline mb-6">
    <div class="column is-12 has-text-centered mb-6 mb-6">
        <h2 class="is-size-3">Search</h2>
        <h3>Search tearm "{{query}}"</h3>
    </div>
    

    {% comment %} {% for product in category.products.all %} {% endcomment %}
    {% for product in products %}
        {% include '_partials/list_item.html'%}
    {% endfor %}
        
</div>
{% endblock main%}