  /* =========================== */
  /* Navbar */
  /* =========================== */
  nav {
    background: var(--light);
    color: var(--dark);
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
  }
  nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
  }
  nav a.menu {
    display: none;
  }
  nav a.brand {
    text-decoration: none;
    padding: 0 0 0 1em;
    color: var(--primary);
    font-family: var(--font-family-sans-serif);
    font-size: 1.5em;
    font-weight: 700;
  }
  nav ul {
    font-family: var(--font-family-monospace);
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  nav ul li {
    padding: 1em;
  }
  nav ul li a {
    text-decoration: none;
    color: var(--secondary);
  }
  nav ul li a.active {
    color: var(--black);
  }
  nav ul li a:hover {
    color: var(--primary);
  }
  
  #menu {
    display: none;
    font-family: var(--font-family-monospace);
    background: var(--light);
    padding: 0 1em;
    width:100vw;
    max-height:30vh;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
  }
  #menu .d-block{
    display: flex;
    justify-content:space-between;
  }
  nav ol li {
    padding: 0.5em 0 0.5em 1em;
  }
  nav ol li a {
    text-decoration: none;
    color: var(--secondary);
  }
  nav ol li a.active {
    color: var(--black);
  }
  
  /* =========================== */
  /* responsive section */
  /* =========================== */
  @media (max-width: 576px) {
    nav .wrapper {
      padding: 0 1em;
    }
    nav a.menu {
      display: block;
      color:var(--primary);
      padding: 1em;
    }
    nav a.brand {
      padding: 0 0 0 1em;
      font-size: 1em;
      font-weight: 500;
    }
    nav ul {
      display: none;
    }
  }
  @media (min-width: 768px) {
  
  }